@using MIT.DataUtil.Common
@using MIT.Razor.Pages.Component.DataEdits
@using MIT.Razor.Pages.Component.DataEdits.Data
@using MIT.Razor.Pages.Component.TreeView
@inherits SettingMenuManagerBase

<DxFormLayout CssClass="w-100">
    @if (!IsMainMenuUIMode)
    {
        <DxFormLayoutGroup CssClass="card-search-layout-group" Decoration="FormLayoutGroupDecoration.None" ColSpanSm="12">
            <DxFormLayoutItem ColSpanSm="1">
                <DxButton RenderStyle="ButtonRenderStyle.Primary"
                          RenderStyleMode="ButtonRenderStyleMode.Contained"
                          IconCssClass="main-toolbar-btn-icon-search"
                          Text="조회"
                          Click="btn_Search"
                          CssClass="w-100 main-toolbar-btn" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanSm="1">
                <DxButton RenderStyle="ButtonRenderStyle.Primary"
                          RenderStyleMode="ButtonRenderStyleMode.Contained"
                          IconCssClass="main-toolbar-btn-icon-save"
                          Text="저장"
                          Click="btn_Save"
                          CssClass="w-100 main-toolbar-btn" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanSm="1">
                <DxButton RenderStyle="ButtonRenderStyle.Primary"
                          RenderStyleMode="ButtonRenderStyleMode.Contained"
                          IconCssClass="main-toolbar-btn-icon-delete"
                          Text="삭제"
                          Click="btn_Delete"
                          CssClass="w-100 main-toolbar-btn" />
            </DxFormLayoutItem>

        </DxFormLayoutGroup>
    }
    
    
    <DxFormLayoutGroup Caption="메뉴목록" 
                            Decoration="FormLayoutGroupDecoration.Card"
                       ColSpanSm="4">
        <DxFormLayoutItem BeginRow="true" ColSpanSm="12">
            
            <div class="w-100" @oncontextmenu="((e) => OnContextMenu(e))" @oncontextmenu:preventDefault="true">

                
                <CommonTreeView CssClass="@(IsMainMenuUIMode ? "h-600" : "h-420")"                                
                                KeyFieldName="MENU_ID"
                                ParentFieldName="PARENT_MENU_ID"
                                TextFieldName="MENU_NAME"
                                LevelFiledName="MENU_LEVEL"
                                SortFiledName="SORT"
                                IconUrlFieldName="ICON_URI"
                                IconCssClassFiledName="ICON_CSS_CLASS"
                                RootID="ROOT"
                                SelectionChanged="OnSelectionChanged"
                                CheckMode="TreeViewCheckMode.Multiple"
                                @ref="@TreeView" />

            </div>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
    <DxFormLayoutGroup Caption="선택메뉴정보"
                       ColSpanSm="8">
        <DxFormLayoutItem Caption="메뉴ID" ColSpanSm="6">
            <DxTextBox Text="@SelectedNodeData?.Row?["MENU_ID"].ToStringTrim()"
                       TextChanged="@((value) => OnTextChanged(value, "MENU_ID"))"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="상위ID" ColSpanSm="6">
            <DxTextBox Text="@SelectedNodeData?.Row?["PARENT_MENU_ID"].ToStringTrim()"
                        Enabled="false"
                       TextChanged="@((value) => OnTextChanged(value, "PARENT_MENU_ID"))"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="메뉴명" ColSpanSm="6">
            <DxTextBox Text="@SelectedNodeData?.Row?["MENU_NAME"].ToStringTrim()"
                       TextChanged="@((value) => OnTextChanged(value, "MENU_NAME"))"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="정렬순서" ColSpanSm="6">
            <DxSpinEdit Value="@SelectedNodeData?.Row?["SORT"].ToInt()"
                        ValueChanged="@((int? value) => OnTextChanged(value, "SORT"))" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="영문 메뉴명" ColSpanSm="6" BeginRow="true">
            <DxTextBox Text="@SelectedNodeData?.Row?["MENU_NAME_ENG"].ToStringTrim()"
                       TextChanged="@((value) => OnTextChanged(value, "MENU_NAME_ENG"))"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="프로그램ID" ColSpanSm="6" BeginRow="true">
            <DxTextBox Text="@SelectedNodeData?.Row?["PGM_ID"].ToStringTrim()"
                       TextChanged="@((value) => OnTextChanged(value, "PGM_ID"))"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="타입" ColSpanSm="6" BeginRow="true">
            <CommonImageComboBox @ref="Cbo_MenuType"
                                  ValueFieldName="CODE"
                                 DisplayFieldName="CODE_NAME"
                                 ImageFieldName="IMG_PATH"
                                 IsShowEmptyRow="false"
                                 ValueChanged="@((ImageComboBoxData? value) => OnTextChanged(value, "MENU_TYPE"))">
            </CommonImageComboBox>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="사용유무" ColSpanSm="6">
            <DxCheckBox Checked="@SelectedNodeData?.Row?["USE_YN"].ToStringTrim()"
                        ValueChecked="@("Y")" 
                         ValueUnchecked="@("N")"
                        CheckedChanged="@((string? value) => OnTextChanged(value, "USE_YN"))"
                         CheckType="CheckType.Switch" />
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="비고" ColSpanSm="12" BeginRow="true">
            <DxMemo Text="@SelectedNodeData?.Row?["REMARK"].ToStringTrim()"
                    TextChanged="@((value) => OnTextChanged(value, "REMARK"))"
                    ResizeMode="MemoResizeMode.Disabled"
                    Rows="@(IsMainMenuUIMode ? 19 : 10)"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
</DxFormLayout>

<DxContextMenu @ref="@ContextMenu">
    <Items>
        <DxContextMenuItem Text="루트노드추가" Click="@OnRootNodeClick"></DxContextMenuItem>
        <DxContextMenuItem Text="자식노드추가" Click="@OnChildNodeClick"></DxContextMenuItem>
    </Items>
</DxContextMenu>

<style>
    .cw-360 {
        width: 360px;
    }

    .h-420 {
        height: 420px;        
    }

    .h-600 {
        height: 600px;       
    }

    .card-search-layout-group {
        margin: 20px 0 0 0;
    }

    .main-toolbar-btn-icon-search,
    .main-toolbar-btn-icon-save,
    .main-toolbar-btn-icon-delete,
    .main-toolbar-btn-icon-print,
    .main-toolbar-btn-icon-close,
    .main-toolbar-btn-icon-fav {
        background-size: auto;
        -webkit-mask-repeat: round;
        background-position: center center;
        height: 16px;
        width: 16px;
    }
</style>