@using DevExpress.Blazor
@using MIT.DataUtil.Common;
@using System.Data;

@namespace MIT.Razor.Pages.Component.Charts

@inherits CommonBarBase

@if (_datatable != null)
{
    <DxChart @ref="@Chart" Data="@_datatable.AsEnumerable()" CssClass="@($"{CssClass} common-chart")" LabelOverlap="ChartLabelOverlap.Hide" Width="@WidthStr" Height="@HeightStr">
            
        <DxChartTitle Text="@ChartTitle">
            <DxChartSubTitle Text="@ChartSubTitle" />
        </DxChartTitle>

        @if (IsShowToolTip)
        {
            @if (ToolTipTemplate == null)
            {
                <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
                    <div style="margin: 0.75rem">
                        <div class="fw-bold">@context.Point.SeriesName</div>
                        <div>@context.Point.Argument : @context.Point.Value</div>
                    </div>
                </DxChartTooltip>
            }
            else
            {
                @ToolTipTemplate
            }
        }

        @if (IsShowLegend)
        {
            @if (LegendTemplate == null)
            {
                <DxChartLegend AllowToggleSeries="true"
                                Orientation="Orientation.Vertical"
                                HorizontalAlignment="HorizontalAlignment.Right">
                </DxChartLegend>
            }
            else
            {
                @LegendTemplate
            }
        }

        @foreach (var series in _datatable.AsEnumerable().GroupBy(row => row["Name"].ToString()))
        {
            <DxChartCommonSeries T="DataRow" TGroup="object" TArgument="object" TValue="object" 
                                    NameField='dr => series.Key' 
                                    ArgumentField='dr => dr["Argument"]'
                                    ValueField='dr => dr["Val"]'
                                    Filter='dr => dr["Name"].ToString() == series.Key.ToString()'>
                <SeriesTemplate Context="settings">
                    <DxChartBarSeries Settings="@settings">
                        <DxChartSeriesLabel Visible="true" />
                    </DxChartBarSeries>
                </SeriesTemplate>
            </DxChartCommonSeries>
        }
    </DxChart>
}
<style>
    .dxbl-group {
        height: calc(100% + 10px);
    }
</style>