@using MIT.Razor.Pages.Component.LoadingPanel
@using DevExpress.Blazor

@inherits CommonPopupBase

@foreach (CommonPopupSystemSettings setting in _listSettings)
{
    <DxPopup Visible="true"
             ShowFooter="true"
             CloseOnOutsideClick="false"
             CloseOnEscape="false"
             ShowCloseButton="false"
             AllowResize="true"
             MinWidth="@($"{setting.MinWidth}px")"
             MinHeight="@($"{setting.MinHeight}px")"
             MaxHeight="@($"{setting.MaxHeight}px")"
             MaxWidth="@($"{setting.MaxWidth}px")"
             Width="@($"{setting.Width}px")"
             Height="@($"{setting.Height}px")"
             ResizeCompleted="@((PopupResizeCompletedEventArgs e) => OnResizeCompleted(setting, e))"
             ZIndex="10"
             AllowDrag="true"
             Scrollable="false">
        <HeaderContentTemplate>
            <div class="popup-header">
                <div>
                    @setting.HeaderText
                </div>
                <div class="popup-header-item">
                    <DxButton CssClass=""
                              RenderStyle="ButtonRenderStyle.Primary"
                              IconCssClass="main-toolbar-btn-icon-close"                              
                              Click="@(() => OnPopupClosed(setting, new Common.PopupResult()))" />
                </div>
            </div>
            
        </HeaderContentTemplate>
        <BodyContentTemplate>
            <div class="dxpopupbodyscroll" style="--test-width:@setting.BodyScollWidth;--test-height:@setting.BodyScollHeight;">
                @RenderEditForm(setting)
            </div>
        </BodyContentTemplate>
        
    </DxPopup>
}


        
    
<style>

    .dxpopupbodyscroll {
        overflow: auto;
        width: var(--test-width);
        height: var(--test-height);
        padding: 2rem;
    }

    .popup-header {
        display: flex;
        align-items:center;
        padding: 5px;
        position:relative;
        width:100%
    }

    .popup-header-item {
        display: block;
        margin-left: auto;
    }

        .popup-header-item .dxbl-btn{
            background-color: transparent;
            filter:brightness(0.4);      
            border:0;
            transition:all.3s ease;
        }

        .popup-header-item .dxbl-btn:hover {
                background-color: transparent !important;
                filter: brightness(0.4);
                border:0;
            }

    .main-toolbar-btn-icon-search,
    .main-toolbar-btn-icon-save,
    .main-toolbar-btn-icon-delete,
    .main-toolbar-btn-icon-print,
    .main-toolbar-btn-icon-close,
    .main-toolbar-btn-icon-fav {
        background-size: auto;
        -webkit-mask-repeat: round;
        background-position: center center;
        height: 16px;
        width: 16px;
    }
</style>