@layout LoginUILayout
@page "/Register"
@inherits RegisterBase

<link href="css\Login.css" rel="stylesheet" />
<div class="Register-container">
    <div class=" col-8 card Register-child">
        <a class="Register-text">회원가입</a>
        <div class="Register-child-form">
            <div class="col-10">
                <DxFormLayout CaptionPosition="CaptionPosition.Vertical" CssClass="w-100 ">
                    <div class="Register-name">
                        <DxFormLayoutItem Caption="이름" BeginRow="true" ColSpanMd="3">
                            <DxTextBox @bind-Text="@USER_NAME" CssClass="cw-320" />
                        </DxFormLayoutItem>
                    </div>
                    <div class="Register-id">
                        <DxFormLayoutItem Caption="아이디">
                            <DxTextBox @bind-Text="@USER_ID" CssClass="cw-320" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanMd="1">
                            @if (_isComfirm)
                            {
                                @* <DxButton CssClass="w-100" Text="확인완료" RenderStyle="ButtonRenderStyle.Info" Click="OnCheckID" /> *@
                                 <DxTextBox Text="완료" CssClass="cw-320 CompleteId" /> 
                            }
                            else
                            {
                                <DxButton CssClass="w-100 btn-blue" Text="중복확인" RenderStyle="ButtonRenderStyle.Info" Click="OnCheckID" />
                            }
                        </DxFormLayoutItem>
                    </div>
                    <div class="Register-ps">
                        <DxFormLayoutItem Caption="비밀번호" BeginRow="true" ColSpanMd="3">
                            <DxTextBox @bind-Text="@PASSWORD" Password="true" CssClass="cw-320" />
                        </DxFormLayoutItem>
                    </div>
                    <div class="Register-ps-c">
                    <DxFormLayoutItem Caption="비밀번호확인" ColSpanMd="3">
                        <DxTextBox @bind-Text="@PASSWORD_C" Password="true" CssClass="cw-320" />
                        </DxFormLayoutItem>
                    </div>
                    
                    <div class="Register-btn">
                        <DxFormLayoutItem BeginRow="true" ColSpanMd="6">
                            <DxButton CssClass="w-100 btn-blue"
                                      Text="회원가입"
                                      RenderStyle="ButtonRenderStyle.Info"
                                      Click="OnRegister" />
                        </DxFormLayoutItem>
                        <a style="width:100%; height:1.5px; margin-top:8px; background-color:#666;"></a>
                        <DxFormLayoutItem BeginRow="true" ColSpanMd="1">
                            <DxButton CssClass="w-100 btn-white"
                                      Text="로그인"
                                      RenderStyle="ButtonRenderStyle.Info"
                                      Click="OnLogin" />
                        </DxFormLayoutItem>
                    </div>
                </DxFormLayout>

            </div>
        </div>
    </div>
</div>
@* <div class="w-100 mx-0 mt-3">
    <p class="demo-text col-12 mt-2">
        Message=<b>@Message</b>
        </p>
</div> *@

@code {

    
}

