@using MIT.Razor.Pages.Component.Popup

@inherits MainHeaderBase


<nav class="navbar header-navbar p-0">
    <button class="navbar-toggler bg-primary d-block" @onclick="OnToggleClick">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-logo">
        <span class="navbar-logo-img" />
        <div class="navbar-logo-sep"></div>
        <span class="navbar-logo-text-img" />
    </div>
    <div class="navbar-container">

    <div class="pe-1" style="margin-top: -4px;    position: relative;">
            
            <a class="badge b_design full-screen" onclick="toggleFullScreen();"><i class="bi bi-fullscreen"></i></a>

            


        </div>
        <div class="ms-3 fw-bold title pe-4">
            <div id="flyout-overview-target-container">
                <DxButton RenderStyle="ButtonRenderStyle.Secondary" IconCssClass="user-btn-img" 
                CssClass="user-btn-text" Click="() => IsOpen = !IsOpen" ></DxButton>
            </div>
            <DxFlyout @bind-IsOpen="@IsOpen"
                      PositionTarget="#flyout-overview-target-container"
                      RestrictionTarget="#Navigation-Flyout-Overview"
                      FitToRestriction=false
                      CloseMode="FlyoutCloseMode.Close"
                      HeaderVisible="true"
                      HeaderText="유저정보"
                      Position="@Position"
                      PreventCloseOnPositionTargetClick="true"
                      CloseOnOutsideClick=false>
                <BodyContentTemplate>
                    <center>
                        <DxButton Text="@($"{USER_NAME}")" CssClass="user-btn-text" RenderStyle="ButtonRenderStyle.None" RenderStyleMode="ButtonRenderStyleMode.Text"></DxButton>
                        <br />
                        <DxButton Text="@($"({USER_ID})")" CssClass="user-btn-text" RenderStyle="ButtonRenderStyle.None" RenderStyleMode="ButtonRenderStyleMode.Text"></DxButton>
            <br />
            <a class="badge b_design" href="/">normal</a>
            <a class="badge b_design" href="/design01">design 1</a>
            <a class="badge b_design" href="/design02">design 2</a>
            <a class="badge b_design" href="/design03">design 3</a>
            <a class="badge b_design" href="/design04">design 4</a>

            <ThemeSwitcher   />

                        <br />
                        <div class="pe-1">
                            <DxButton CssClass="w-100"
                                      RenderStyle="ButtonRenderStyle.Link"
                                      RenderStyleMode="ButtonRenderStyleMode.Contained"
                                      Text="Logout"
                                      Click="@OnLogout" />
                        </div>
                    </center>
                </BodyContentTemplate>
            </DxFlyout>
        </div>       
        <div class="pe-2">
            <button class="navbar-container-setting-icon" @onclick="OnSetting"></button>
        </div>
    </div>
</nav>

                                      <script>

                                              function toggleFullScreen() {
      if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen()
      } else {
        if (document.exitFullscreen) {
          document.exitFullscreen()
        }
      }
    }

                                             function toggleFullScreen_ele(element) {
      if (!document.fullscreenElement) {
        if (element.requestFullscreen) return element.requestFullscreen()
        if (element.webkitRequestFullscreen)
          return element.webkitRequestFullscreen()
        if (element.mozRequestFullScreen) return element.mozRequestFullScreen()
        if (element.msRequestFullscreen) return element.msRequestFullscreen()
      } else {
        if (document.exitFullscreen) return document.exitFullscreen()
        if (document.webkitCancelFullscreen)
          return document.webkitCancelFullscreen()
        if (document.mozCancelFullScreen) return document.mozCancelFullScreen()
        if (document.msExitFullscreen) return document.msExitFullscreen()
      }
    }

                                      </script>