@{
  /*
  * 작성자명 : 김지수
  * 작성일자 : 25-01-24
  * 최종수정 : 25-02-11
  * 프로시저 : P_HMI_REAL_ELEC_TOT_SPPLY_QTY
  */
      }

@using MIT.Razor.Pages
@using MIT.Razor.Pages.Common
@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.Grid.RepositoryItem
@using System.Data
@using static MIT.Razor.Pages.TrendCode
@inherits UH1010MA1_SBase


      <span class="fullscreen_x" onclick=" toggleFullScreen_ele(document.getElementById('kkkkkk').parentNode.parentNode);">Full</span>



    <DxFormLayout CssClass="w-100 " Id="kkkkkk" >
    @{
    /* content area */
  }
  <DxFormLayoutGroup Caption="" CssClass="mit-content-area" Decoration="FormLayoutGroupDecoration.None" ColSpanSm="12">
    <DxFormLayoutGroup CssClass="non-head" Decoration="FormLayoutGroupDecoration.None" ColSpanSm="6">
      <div class="temp_high">
        <DxFormLayoutGroup ColSpanSm="12" Caption="실시간 Utility 총 공급량">
          <DxFormLayoutItem ColSpanSm="12">
            <CommonGrid @ref="Grd1" CssClass="setting-program-grid">
              <DataColumnsTemplate>
                <DxGridDataColumn Caption="구분" FieldName="CATEGORY" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" MinWidth="60"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox ReadOnly="true" CellContext="context2" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="순시(KW)" FieldName="S01" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="65"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="일(KW)" FieldName="S02" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="60"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="월(KW)" FieldName="S03" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="70"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="당월PEAK" FieldName="S04" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="70"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="역률" FieldName="S05" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="60"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N1" /></CellDisplayTemplate></DxGridDataColumn>
              </DataColumnsTemplate>
            </CommonGrid>
          </DxFormLayoutItem>
        </DxFormLayoutGroup>
        <DxFormLayoutGroup ColSpanSm="12" Caption="공장별 공급량">
          <DxFormLayoutItem ColSpanSm="12">
            <CommonGrid @ref="Grd2" CssClass="setting-program-grid">
              <DataColumnsTemplate>
                <DxGridDataColumn Caption="구분" FieldName="FACT_NM" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" MinWidth="60"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox ReadOnly="true" CellContext="context2" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="순시(KW)" FieldName="S01" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="65"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="일(KW)" FieldName="S02" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="60"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="월(KW)" FieldName="S03" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="70"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="당월PEAK" FieldName="S04" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="70"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" /></CellDisplayTemplate></DxGridDataColumn>
                <DxGridDataColumn Caption="역률" FieldName="S05" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="60"><CellDisplayTemplate Context="context2"><RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N1" /></CellDisplayTemplate></DxGridDataColumn>
              </DataColumnsTemplate>
            </CommonGrid>
          </DxFormLayoutItem>
        </DxFormLayoutGroup>

        <DxFormLayoutGroup Caption="수전/발전" ColSpanSm="12">
          <DxFormLayoutItem Caption="수전" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["WATER_GEN"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="발전" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["GEN_VAL"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="한주 T/L" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["H_TL"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="G1" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["G1"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="석지 T/L" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["S_TL"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="G2" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["G2"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="생산계" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["PROD_TOTAL"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          <DxFormLayoutItem Caption="G3" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["G3"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
                    <DxFormLayoutItem Caption="GT1" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["GT1"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
                    <DxFormLayoutItem Caption="G4" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["G4"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
                    <DxFormLayoutItem Caption="GT2" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["GT2"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
                    <DxFormLayoutItem Caption="G5" ColSpanSm="6"><DxTextBox Text="@(String.Format("{0:N0} KW", currentRow?["G5"]))" ReadOnly="true" CssClass="mit-text-end" /></DxFormLayoutItem>
          

        </DxFormLayoutGroup>

      </div>
    </DxFormLayoutGroup>


    <DxFormLayoutGroup CssClass="non-head" ColSpanSm="6" Decoration="FormLayoutGroupDecoration.None">
      <div class="temp_high">
        <DxFormLayoutGroup ColSpanSm="12" Caption="회사별 공급량">
          <DxFormLayoutItem ColSpanSm="12">
            <CommonGrid @ref="Grd4" CssClass="setting-program-grid"
                        RowDoubleClick="OnRowDoubleClick"
                        IsExportDocEnabled=false
                        IsExportImageEnabled=false
                        IsExportPDFEnabled=false
                        IsExportXlsxEnabled=false
                        ExportFileName="전기 모니터링 메인(관리자)"
                        IsShowToolBar=true>
              <DataColumnsTemplate>
                                <DxGridDataColumn Caption="점검중" FieldName="Maintenance_YN" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" Width="40">
                                    <CellDisplayTemplate Context="context2">
                                        @if (!string.IsNullOrEmpty(context2.GetRowValue("COM_ID") + ""))
                                        {
                                            <a class="badge bg-primary hhh " @onclick=@((args)=> {
                                           DataRowView? row = context2.DataItem as DataRowView;
                                           string newValue = context2.Value+"" == "Y" ? "N" : "Y";
                                           if (row == null) return;
                                           row[context2.DataColumn.FieldName] = newValue;
                                           btn_Save_Maintenance_YN(com_id:row["COM_ID"]+"",gauge_section:"PW", value:newValue);
                                           })>전환</a>
                                        }
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                                <DxGridDataColumn Caption="구분" FieldName="COM_NAME" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center" MinWidth="95"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox ReadOnly="true" CellContext="context2" /></CellDisplayTemplate></DxGridDataColumn>
                                <DxGridDataColumn Caption="순시(KW)" FieldName="S01" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="65">
                                    <CellDisplayTemplate Context="context2">
                                        @if (context2.GetRowValue("Maintenance_YN") + "" == "Y")
                                        {
                                            <span class="badge bg-danger mit-maintenance-text">점검중</span>
                                        }
                                        else
                                        {
                                            <RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" />
                                        }
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                                <DxGridDataColumn Caption="일(KW)" FieldName="S02" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="60">
                                    <CellDisplayTemplate Context="context2">
                                        @if (context2.GetRowValue("Maintenance_YN") + "" == "Y")
                                        {
                                            <span class="badge bg-danger mit-maintenance-text">점검중</span>
                                        }
                                        else
                                        {
                                            <RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" />
                                        }
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                                <DxGridDataColumn Caption="월(KW)" FieldName="S03" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="70">
                                    <CellDisplayTemplate Context="context2">
                                        @if (context2.GetRowValue("Maintenance_YN") + "" == "Y")
                                        {
                                            <span class="badge bg-danger mit-maintenance-text">점검중</span>
                                        }
                                        else
                                        {
                                            <RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" />
                                        }
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                                <DxGridDataColumn Caption="당월PEAK" FieldName="S04" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="70">
                                    <CellDisplayTemplate Context="context2">
                                        @if (context2.GetRowValue("Maintenance_YN") + "" == "Y")
                                        {
                                            <span class="badge bg-danger mit-maintenance-text">점검중</span>
                                        }
                                        else
                                        {
                                            <RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N0" />
                                        }
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                                <DxGridDataColumn Caption="역률" FieldName="S05" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center" MinWidth="60">
                                    <CellDisplayTemplate Context="context2">
                                        @if (context2.GetRowValue("Maintenance_YN") + "" == "Y")
                                        {
                                            <span class="badge bg-danger mit-maintenance-text">점검중</span>
                                        }
                                        else
                                        {
                                            <RepositoryItemSpinEdit ReadOnly="true" CellContext="context2" DisplayFormat="N1" />
                                        }
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
              </DataColumnsTemplate>
            </CommonGrid>
          </DxFormLayoutItem>
        </DxFormLayoutGroup>
      </div>
    </DxFormLayoutGroup>
  </DxFormLayoutGroup>
</DxFormLayout>



<style>

  .mit-text-end input {
    text-align: right;
  }

  .temp_high {
    min-height: 600px;
  }

  .fullscreen_x{
    position: relative;
    /* top: 7.8rem; */
    /* right: 11.5rem; */
    border: solid 1px #dddddd;
    padding: 3.5px 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
  }

  .fullscreen_x :hover{
    background:gray;
  }

    .hhh {
        cursor: pointer;
        text-decoration: none;
    }


</style>
@code {
  private void OnRowDoubleClick(GridRowClickEventArgs e) {
    if (CommonPopupService != null) {

      // 수용가..
      var com_id = (e.Grid.GetRowValue(e.VisibleIndex, "COM_ID") + "").Trim().Replace(" ", "");      // com_id 로 바꿔야 함.
      if (string.IsNullOrEmpty(com_id)
      || com_id == "소계"
          || com_id == "합계"
      ) {

        return;
      }
      // 이걸로 구분
      string colName = e.Column.Name;
      TrendCode.TrendTypeEnum trendType = TrendCode.TrendTypeEnum.Real;
      if (colName == "S01") { trendType = TrendTypeEnum.Real; }
      else if (colName == "S02") { trendType = TrendTypeEnum.Day; }
      else if (colName == "S03") { trendType = TrendTypeEnum.Month; }
      else if (colName == "S04") { trendType = TrendTypeEnum.CurMonth; }
      else if (colName == "S05") { trendType = TrendTypeEnum.CurMonthRe; }


      TrendCode tc = new TrendCode() { TrendType = trendType, ComId = com_id, FdrId = "" };

      CommonPopupService.Show(typeof(UH1070QA1_POP), "Trend View", Width: 1280, Height: 740, Parameter: tc, CloseCallback: OnCloseCallback);
    }
  }


  protected async Task OnCloseCallback(PopupResult result) {
    if (result.PopupResultType != PopupResultType.OK) return;
    await Task.Delay(1);

  }





}