@{
  /*
  * 작성자명 : 김지수
  * 작성일자 : 25-02-27
  * 최종수정 : 25-02-27
  * 화면명 : 계측기별 Peak값 조회
  * 프로시저명 : : P_HMI_DAY_USEQTY_PEAK, P_HMI_TIME_USEQTY_PEAK, P_HMI_MIN_UEEQTY_PEAK, P_HMI_PEAK_VALUE_RST
  */
}

@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.Grid.RepositoryItem
@using MIT.Razor.Pages.Component.DataEdits
@using MIT.Razor.Pages.Component.Charts
@using System.Data
@using MIT.ServiceModel
@inherits UM3130QA1_x2Base

<DxFormLayout CssClass="w-100">
    @{ /* search area */ }
  <DxFormLayoutGroup Caption="조회조건" CssClass="mit-search-area" Decoration="FormLayoutGroupDecoration.Card" ColSpanSm="12">
    <DxFormLayoutItem Caption="조회 년월" ColSpanSm="2"><CommonDateEdit @ref="@SYYYYMM" DisplayFormat="yyyy-MM"/></DxFormLayoutItem>
    <DxFormLayoutItem Caption="~" ColSpanSm="2"><CommonDateEdit @ref="@EYYYYMM" DisplayFormat="yyyy-MM" /></DxFormLayoutItem>
    <DxFormLayoutItem Caption="수용가" ColSpanSm="2">


      @if( USER_TYPE != "H"){
        //COM_ID = USER_ID;
        //COM_NAME = USER_NAME;
        //FDR_Tag.Etc0 = USER_ID;
        <DxTextBox Text="@USER_NAME" Enabled=false />
      }
      else{
        <MitCombo CodeId="company" 
                  @ref=ComObj 
                  @bind-Value="@COM_ID" 
                  @bind-Text="@COM_NAME" 
                  SelectedItemChanged="COM_Change"
                  SearchMode="ListSearchMode.AutoSearch" 
                  SearchFilterCondition="ListSearchFilterCondition.Contains" />
      }

    </DxFormLayoutItem>

    @* <DxFormLayoutItem Caption="유틸리티2" ColSpanSm="2"> *@


    @*   @if (USER_TYPE != "H") { *@

    @*     <MitCombo CodeId="fdr"  @ref="FDR_CB" Etc0=@USER_ID IsAll=false /> *@
    @*   } *@
    @*   else { *@

    @*     <MitCombo CodeId="fdr"  @ref="FDR_CB" IsDataFixed="false" IsAll=false /> *@
    @*   } *@

    @* </DxFormLayoutItem> *@

    <DxFormLayoutItem Caption="유틸리티" ColSpanSm="2">

      @if (USER_TYPE != "H") {
        <MitTagBox CodeId="fdr" @ref="FDR_Tag"  Etc0=@USER_ID @bind-Values="FDR_Tag_Value" />
      }
      else {
        <MitTagBox CodeId="fdr" @ref="FDR_Tag" @bind-Values="FDR_Tag_Value" IsDataFixed="false" />
      }
    </DxFormLayoutItem>

  </DxFormLayoutGroup>
  
    @{ /* view area */ }
  <DxFormLayoutGroup Caption="차트 제어" CssClass="mit-search-area" Decoration="FormLayoutGroupDecoration.Card" ColSpanSm="12">


    <DxRangeSelector Width="100%" ValueChanged="@OnValueChanged" AllowSliderSwap="true"
                     SelectedRangeStartValue="StartValueC" SelectedRangeEndValue="EndValueC"
                     Data="@ChartDataMain">

      <DxRangeSelectorChart>






        @foreach (var cd in ChartDataMain) {

          <DxChartAreaSeries T="DPoint" TArgument="DateTime?" TValue="double?"
                             Data="@cd.DPoints"
                             ArgumentField="@(dp => dp.Xtime)"
                             ValueField="@(dp => dp.Qty1)">
          </DxChartAreaSeries>

        }








        @* <DxChartAreaSeries T="DataRow" TArgument="DateTime" TValue="double" ArgumentField="GAUGE_DATETIME" ValueField="R_USEQTY"></DxChartAreaSeries> *@

      </DxRangeSelectorChart>
      <DxRangeSelectorScale ValueType="ChartAxisDataType.DateTime" TickInterval="ChartAxisInterval.Hours(1)" />
      @* <DxRangeSelectorScale StartValue="StartValueC" EndValue="EndValueC"  ValueType="ChartAxisDataType.DateTime"> *@
      @* </DxRangeSelectorScale> *@
    </DxRangeSelector>






  </DxFormLayoutGroup>














  @{ /* content area */ }
  <DxFormLayoutGroup Caption="계측기별 사용량" CssClass="mit-content-area" Decoration="FormLayoutGroupDecoration.Card" ColSpanSm="12">
    
    <DxChart  @ref="_chart"
    Data="@ChartData"
    Width="100%" Height="40vh" >

      <DxChartCrosshair Enabled="true" Width="2" DashStyle="ChartDashStyle.Dash"
                        Color="#f05b41"
                        Opacity="0.8"
      >

        <DxChartCrosshairLabel Visible="true">        </DxChartCrosshairLabel>

        <DxChartCrosshairHorizontalLine Width="3" Color="#f05b41" Opacity="0.7">
          <DxChartCrosshairLabel BackgroundColor="#f05b41" Format='ChartElementFormat.FromLdmlString("#.0")'>
            <DxChartFont Weight="700" />
          </DxChartCrosshairLabel>
        </DxChartCrosshairHorizontalLine>



        <DxChartCrosshairVerticalLine Color="#f05b41">
          <DxChartCrosshairLabel BackgroundColor="#f05b41" Format='ChartElementFormat.FromLdmlString("yyyy-MM-dd HH:mm:ss")'>
            <DxChartFont Size="16" />
          </DxChartCrosshairLabel>
        </DxChartCrosshairVerticalLine>





      </DxChartCrosshair>

      @foreach (var pp in _peakList) {
        <DxChartAnnotation Argument="@pp.Sdt"
                           Series="사용량"
                           Text="@(  "<b>Peak Start"+Environment.NewLine+pp.Sdt.ToString("yyyy-MM-dd") +Environment.NewLine+Environment.NewLine+pp.Sdt.ToString("HH:mm") +Environment.NewLine+" "+Environment.NewLine+"<b>"+  pp.PEAK_VAL.ToString()+"</b>")"
                           VerticalOffset="-10"
                           HorizontalOffset="-80"
                           TooltipText="@( pp.Sdt.ToString() )"
                           ArrowWidth="0">
          <DxChartAnnotationBorder Color="#28a745" Width="2" CornerRadius="4" />
        </DxChartAnnotation>

        
        <DxChartAnnotation Argument="@pp.Edt"
                           Series="사용량"
                           Text="@(  "<b>Peak End"+Environment.NewLine+pp.Edt.ToString("yyyy-MM-dd") +Environment.NewLine+Environment.NewLine+pp.Edt.ToString("HH:mm") +Environment.NewLine+" "+Environment.NewLine+"<b>"+  pp.PEAK_VAL.ToString()+"</b>")"
                           VerticalOffset="-10"
                           HorizontalOffset="90"
                           TooltipText="@( pp.Edt.ToString() )"
                           ArrowWidth="0">
          <DxChartAnnotationBorder Color="#FFC107" Width="2" CornerRadius="4" />
        </DxChartAnnotation>


      }



      <DxChartSplineSeries T="DPoint"
                            TArgument="DateTime?"
                            TValue="double?"
                            ArgumentField="i => i.Xtime"
                            ValueField="i => i.Qty1"
                            Name="사용량">
        <DxChartSeriesPoint Visible=false HoverMode="ChartSeriesPointHoverMode.Point" />

      </DxChartSplineSeries>

      <DxChartLegend VerticalAlignment="VerticalEdge.Top"   HorizontalAlignment="HorizontalAlignment.Center" Position="RelativePosition.Outside" />

      @if(true){
      <DxChartTooltip Enabled="true">
        <div style="margin: 0.75rem">
          <div>
            @($"{context.Point.Argument}")
          </div>
          <div>
            @($"{context.Point.SeriesName}:  {(double)context.Point.Value:F1}")
          </div>
        </div>
      </DxChartTooltip>
      }

      <DxChartArgumentAxis MinorTickInterval="ChartAxisInterval.Hours(2)">

        
        <DxChartAxisRange StartValue="@StartValue" EndValue=@EndValue />


      </DxChartArgumentAxis>



      <DxChartValueAxis ZeroAlwaysVisible=false>

        <DxChartAxisRange StartValue="@StartValueY" EndValue=@EndValueY />

      </DxChartValueAxis>
















      <DxChartZoomAndPanSettings  ValueAxisZoomAndPanMode="ChartAxisZoomAndPanMode.Pan"
      
      
      
      />




    </DxChart>



  </DxFormLayoutGroup>
  
  <DxFormLayoutGroup Caption="Peak" CssClass="" Decoration="FormLayoutGroupDecoration.Card" ColSpanSm="12">


    <DxFormLayoutItem ColSpanSm="12">



      <CommonGrid @ref="Grd1" CssClass="setting-program-grid">
        <DataColumnsTemplate>
          <DxGridDataColumn Caption="시작일자" FieldName="PEAK_SDATE" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox CellContext="context2" ReadOnly="true" /></CellDisplayTemplate></DxGridDataColumn>
          <DxGridDataColumn Caption="시작시간" FieldName="PEAK_STIME" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox CellContext="context2" ReadOnly="true" /></CellDisplayTemplate></DxGridDataColumn>
          <DxGridDataColumn Caption="종료일자" FieldName="PEAK_EDATE" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox CellContext="context2" ReadOnly="true" /></CellDisplayTemplate></DxGridDataColumn>
          <DxGridDataColumn Caption="종료시간" FieldName="PEAK_ETIME" TextAlignment="GridTextAlignment.Center" CaptionAlignment="GridTextAlignment.Center"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox CellContext="context2" ReadOnly="true" /></CellDisplayTemplate></DxGridDataColumn>
          <DxGridDataColumn Caption="PEAK값" FieldName="PEAK_VAL" TextAlignment="GridTextAlignment.Right" CaptionAlignment="GridTextAlignment.Center"><CellDisplayTemplate Context="context2"><RepositoryItemTextBox CellContext="context2" ReadOnly="true" /></CellDisplayTemplate></DxGridDataColumn>
        </DataColumnsTemplate>
      </CommonGrid>
    </DxFormLayoutItem>

  </DxFormLayoutGroup>

</DxFormLayout>

