@using MIT.Razor.Pages.Component.Grid
@using MIT.Razor.Pages.Component.DataEdits
@using MIT.UI.LIB.DataEdits

@inherits CPA00006Base

<DxFormLayout CssClass="w-100">

    <DxFormLayoutGroup Caption="조회조건" ColSpanSm="12">
        <Items>

            <DxFormLayoutItem Caption="거래처" ColSpanSm="3">
                <CommonCustSearchLookup @ref="@cbo_CUST_CODE" />
            </DxFormLayoutItem>

            <DxFormLayoutItem ColSpanSm="4">
                <div style="display: flex; align-items: center;">
                    <label class="dxbl-fl-cpt dxbl-text" style=" margin-right: 10px;">발주일자</label>
                    <CommonDateEdit @ref="@Dte_FromDate" />
                    <label class="dxbl-fl-cpt dxbl-text" style="margin: 0 10px;">~</label>
                    <CommonDateEdit @ref="@Dte_ToDate" />
                </div>
            </DxFormLayoutItem>

        </Items>
    </DxFormLayoutGroup>

    <DxFormLayoutGroup Caption="CKD발주목록" ColSpanSm="12">
        <DxFormLayoutItem ColSpanSm="12">

            <CommonGridDynamic @ref="Grd1"
                               ControlHeight="250"
                               FocusedRowChanged="@Grd1_FocusedRowChanged"
                               InputSearchParameter="@Grd1_OnInputSearchParameter"
                               SearchQueryName="SP_CPA006_MMC100_SELECT" />
            
        </DxFormLayoutItem>
    </DxFormLayoutGroup>

    <DxFormLayoutGroup Caption="CKD발주상세" ColSpanSm="12">
        <DxFormLayoutItem ColSpanSm="12">
            <CommonGridDynamic @ref="Grd2"
                               ControlHeight="250"
                               InputSearchParameter="@Grd2_OnInputSearchParameter"
                               SearchQueryName="SP_CPA006_MMC150_SELECT" />

        </DxFormLayoutItem>
    </DxFormLayoutGroup>

</DxFormLayout>